@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body{
    font-family: "Muli", sans-serif;
    display:flex;
    justify-content:center;
    align-items:center;
    overflow:hidden;
    height: 100vh;
}

.container{
    display:flex;
    width:90vw;
}

.place {
    background-size: cover;
    background-position:center;
    background-repeat:no-repeat;
    height:80vh;
    border-radius:50px ;
    color: #fff;
    cursor:pointer;
    flex: 0.5;
    margin:10px ;
    position:relative;
    transition: all 700ms ease-in;
}

.place h3 {
    font-size: 24px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    margin: 0;
    opacity: 0;
}

.place.active{
    flex-grow: 5;
}

.place.active h3 {
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;
}

@media (max-width: 480px){
    .container{
        width: 100vw;
    }
    .place.active:nth-child(4), .place.active:nth-child(5){
        display:none;
    }
}